<template>
	<div>
		<Settings v-model="settings"></Settings>
		<button @click="save">Save</button>
	</div>
</template>

<script>
	import Settings from "./base/Settings";
	import CookieMixin from './mixins/CookieMixin'
	export default {
		name: "PaintingEditor",
		components: {Settings},
    mixins: [CookieMixin],
		props: {
			url: {
				type: String
			},
			width: {
				type: Number,
				default: 800
			},
			height: {
				type: Number,
				default: 600
			},
			minbrushsize: {
				type: Number,
				default: 1
			},
			maxbrushsize: {
				type: Number,
				default: 64
			},
			brushsizestep: {
				type: Number,
				default: 1
			},
		},
		data: () => ({
			settings: {
				width: {
					name: "Canvas width",
					type: "number",
          value: undefined
				},
				height: {
					name: "Canvas height",
					type: "number",
					value: undefined
				},
				minbrushsize: {
					name: "Minimal Brush Size",
					type: "number",
					description: "Sets minimal brush size in pixels",
					value: undefined
				},
				maxbrushsize: {
					name: "Maximal Brush Size",
					type: "number",
					description: "Sets maximal brush size in pixels",
					value: undefined
				},
				brushsizestep: {
					name: "Brush Step Size",
					type: "number",
					description: "Sets step of changing brush size value",
					value: undefined
				},
			}
		}),
    methods: {
			save() {
				const settings = {};
				for (let key in this.settings)
					settings[key] = this.settings[key].value;

				fetch(this.url, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
						'X-CSRFToken': this.cookies["csrftoken"]
					},
					body: JSON.stringify(settings)
				}).catch(console.log)
			}
		},
		mounted() {
			for (let key in this.settings) {
				this.settings[key].value = this.$props[key]
			}
		}
	}
</script>
<style lang="scss">
	button {
		transition: background-color 0.15s,box-shadow 0.15s;
		box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 0 transparent;
		display: inline-block;
		padding: 4px 20px 5px;
		background-color: rgba(255,255,255,0.3);
		background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0));
		background-image: linear-gradient(to bottom,rgba(255,255,255,0.3),rgba(255,255,255,0));
		border: 1px solid #005e90;
		border-radius: 3px;
		background-color: #0075b4;
		color: #fff;
	}
</style>
