<template>
	<div class="xblock-painting">
		<div class="xblock-painting-container">
			<div class="xblock-painting-controls">
				<label class="xblock-painting-color" :style="{ background: this.pointer.color.foreground }">
					<input type="color" v-model="pointer.color.foreground"/>
				</label>
				<label class="xblock-painting-color" :style="{ background: this.pointer.color.background }">
					<input type="color" v-model="pointer.color.background"/>
				</label>
				<div class="xblock-painting-tool" v-for="(tool, name) in tools" :key="name" @click="selectTool(name)">
					<BaseIcon
						:icon="getSVG(name)"
						:alt="name"
						:class="{ selected: tool.selected }"
						@click="tools.select(name)"
					/>
				</div>
				<div class="xblock-painting-tool" @click="clear">
					<BaseIcon :icon="getSVG('clear')" alt="clear"></BaseIcon>
				</div>
				<div class="xblock-painting-tool" @click="undo">
					<BaseIcon :icon="getSVG('undo')" alt="clear"></BaseIcon>
				</div>
				<div class="xblock-painting-tool" @click="redo">
					<BaseIcon :icon="getSVG('redo')" alt="clear"></BaseIcon>
				</div>
				<label class="xblock-painting-pointer-size">
					<input type="range" v-model="pointer.width" :min="minbrushsize" :max="maxbrushsize" :step="brushsizestep">
					{{pointer.width}}px
				</label>
			</div>
			<canvas
				ref="canvas"
				:width="width" :height="height"
				@mousedown="down"
				@mousemove="move"
				@mouseup="up"
				@mouseover="over"
				@mouseleave="leave"
			></canvas>
			<div class="xblock-painting-cursor" :class="{ hidden: !pointer.hover || tools.fill.selected }" :style="{
				width: pointer.width,
				height: pointer.width,
				transform: `translateX(${pointer.coords.current.x - pointer.width / 2}px) translateY(${-height + pointer.coords.current.y + (pointer.width / 2)}px)`
			}"></div>
		</div>
		<button @click="save">Save</button>
	</div>
</template>

<script>
	import svg from './utils/icons'
	import floodFill from './utils/flood'
	import BaseIcon from './base/BaseIcon';
	import CookieMixin from './mixins/CookieMixin'
	import SimpleUndo from 'simple-undo'
	export default {
		name: "Painting",
		components: {BaseIcon},
		mixins: [CookieMixin],
		props: {
			width: {
				type: Number,
				default: 800
			},
			height: {
				type: Number,
				default: 600
			},
			minbrushsize: {
				type: Number,
				default: 1
			},
			maxbrushsize: {
				type: Number,
				default: 64
			},
			brushsizestep: {
				type: Number,
				default: 1
			},
			url: {
				type: String
			}
		},
		data: () => ({
			/**
			 * @property {HTMLCanvasElement} element
			 * @property {CanvasRenderingContext2D} element
			 */
			canvas: {},
			/**
			 * @typedef {{x: number, y: number}} Position
			 * @property {boolean} down - Is mouse primary key down
			 * @property {boolean} hover - Is mouse hovering canvas
			 * @property {number} width - Current width of drawing line
			 * @property {object} color
			 * @property {string} color.foreground - Hex foreground color
			 * @property {string} color.background - Hex background color
			 * @property {object} coords
			 * @property {Position} coords.current - Current position of mouse pointer
			 * @property {Position} coords.raw - Previous position of mouse pointer
			 * @property {Position} coords.middle - Previous normalized position of mouse pointer
			 */
			pointer: {
				down: false,
				hover: false,
				width: 1,
				color: {
					foreground: "#000000",
					background: "#ffffff"
				},
				coords: {
					current: {
						x: 0,
						y: 0
					},
					raw: {
						x: 0,
						y: 0
					},
					middle: {
						x: 0,
						y: 0
					}
				}
			},
			tools: {
				brush: {
					selected: true
				},
				eraser: {
					selected: false
				},
				fill: {
					selected: false
				}
			},
			history: {}
		}),
		methods: {
			/**
			 * @description
			 * Selects tool by its name and deselects others
			 * @param {string} tool - Tool name
			 */
			selectTool(tool) {
				for (const name in this.tools)
					this.tools[name].selected = (name === tool)
			},
			down(event) {
				this.canvas.context.lineWidth = this.pointer.width;
				this.canvas.context.strokeStyle = (this.tools.eraser.selected) ? this.pointer.color.background
					: this.pointer.color.foreground;
				const position = this.getMousePositionOverCanvas(event);
				this.canvas.context.moveTo(position.x, position.y);
				if (this.tools.fill.selected) {
					this.fill({ x: Math.floor(position.x), y: Math.floor(position.y) });
				} else {
					this.pointer.coords.current = this.pointer.coords.raw = position;
					this.pointer.coords.middle = this.middleCoords(position);
					this.pointer.down = true;
					this.canvas.context.beginPath();
				}
			},
			move(event) {
				const position = this.getMousePositionOverCanvas(event);
				this.pointer.coords.current = position;
				if (this.pointer.down) {
					const middle = this.middleCoords(position);
					this.canvas.context.moveTo(middle.x, middle.y);
					this.canvas.context.quadraticCurveTo(this.pointer.coords.raw.x, this.pointer.coords.raw.y,
						this.pointer.coords.middle.x, this.pointer.coords.middle.y);
					this.canvas.context.stroke();
					this.pointer.coords.raw = position;
					this.pointer.coords.middle = middle;
				}
			},
			up() {
				if (this.pointer.down)
					this.history.save && this.history.save();
				this.pointer.down = false;
			},
			over() {
				this.pointer.hover = true;
			},
			leave() {
				this.pointer.hover = false;
			},
			/**
			 * @description
			 * Clears canvas by filling it with background color
			 */
			clear() {
				this.canvas.context.fillStyle = this.pointer.color.background;
				this.canvas.context.fillRect(0, 0, this.width, this.height);
				this.history.save && this.history.save();
			},
			/**
			 * @description
			 * Flood fills area under mouse pointer
			 * For algorithm description {@see module:floodFill}
			 */
			fill(start) {
				floodFill(this.canvas.context, start, this.hexToRGB(this.pointer.color.foreground));
				this.history.save && this.history.save();
			},
			/**
			 * @description
			 * Returns mouse cursor position relative to canvas boundaries
			 * @param {MouseEvent} event - Mouse event over canvas
			 * @returns {{x: number, y: number}} - Mouse position relative to canvas boundaries
			 */
			getMousePositionOverCanvas(event) {
				const { top, left } = this.canvas.element.getBoundingClientRect();
				return {
					x: event.clientX - left,
					y: event.clientY - top
				}
			},
			/**
			 * @description
			 * Normalizes current mouse pointer position relative to its previous position
			 * Used by anti-aliasing while painting
			 * @param {Position} position - Mouse pointer position
			 * @returns {Position} middle - Normalized position
			 */
			middleCoords({x, y}) {
				return {
					x: this.pointer.coords.raw.x + x >> 1,
					y: this.pointer.coords.raw.y + y >> 1,
				}
			},
			/**
			 * @typedef {{r: number, g: number, b: number, a: number|undefined}} Color
			 * @description
			 * Converts color present as hex (e.g. #ff00000 or #f00) to RGBa
			 * @param {string} hex - Color in hex
			 * @returns {Color} color - Color in RGBa
			 */
			hexToRGB(hex) {
				const shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
				hex = hex.replace(shorthandRegex, function(m, r, g, b) {
					return r + r + g + g + b + b;
				});
				const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
				return result ? {
					r: parseInt(result[1], 16),
					g: parseInt(result[2], 16),
					b: parseInt(result[3], 16)
				} : null;
			},
			/**
			 * @description
			 * Returns base64 encoded svg file. Used to represent icons via "src" attribute of "img" tag
			 * @param {string} name - Icon predefined name
			 * @returns {string} icon - Base64 encoded icon
			 */
			getSVG(name) {
				return svg[name];
			},
			/**
			 * @description
			 * Saves current painted image encoded in base64 in history
			 * @param {function} done - Async protection function
			 */
			serialize(done) {
				done(this.canvas.element.toDataURL())
			},
			/**
			 * @description
			 * Restores image from base64 encoded string in history
			 * @param {string} data - Base64 encoded image
			 */
			deserialize(data) {
				const image = new Image();
				image.onload = () => {
					this.canvas.context.clearRect(0, 0, this.width, this.height);
					return this.canvas.context.drawImage(image, 0, 0)
				};
				image.src = data;
			},
			undo() {
				this.history.undo(this.deserialize)
			},
			redo() {
				this.history.redo(this.deserialize)
			},
			/**
			 * @description
			 * XBlock student main handler
			 * Saves image in edx
			 */
			save() {
				fetch(this.url, {
					method: 'POST',
					headers: {
						'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
						'X-CSRFToken': this.cookies["csrftoken"]
					},
					body: JSON.stringify({
						image: this.canvas.element.toDataURL()
					})
				}).catch(console.log)
			}
		},
		mounted() {
			this.canvas = {
				element: this.$refs.canvas,
				context: this.$refs.canvas.getContext('2d')
			};
			this.canvas.context.lineCap = 'round';
			this.canvas.context.imageSmoothingEnabled = true;
			this.clear();
			this.pointer.width = this.minbrushsize;
			this.history = new SimpleUndo({
				maxLength: 20,
				provider: this.serialize
			});
			this.history.initialize(this.canvas.element.toDataURL())
		}
	}
</script>

<style lang="scss">
	.xblock-painting {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.xblock-painting-container {
			position: relative;
		}
		.xblock-painting-controls {
			display: flex;
			.xblock-painting-tool {
				display: inline-block;
			}
			.xblock-icon {
				display: inline-block;
				width: 24px;
				height: 24px;
				margin: 3px;
				padding: 5px;
				&:hover, &.selected {
					background-color: lightgray;
				}
			}
			.xblock-painting-color {
				width: 32px;
				height: 32px;
				display: block;
				float: left;
				border: black solid 1px;
				margin: 3px;
				input[type=color] {
					opacity: 0;
					width: inherit;
					height: inherit;
					border: 0;
					display: block;
				}
			}
			.xblock-painting-pointer-size {
				display: flex;
				align-items: center;
			}
		}
		.xblock-painting-cursor {
			position: absolute;
			bottom: 0;
			left: 0;
			pointer-events: none;
			border-radius: 50%;
			background: rgba(#000, 0.2);
			z-index: 30;
			&.hidden {
				display: none;
			}
		}
	}
</style>