<template>
  <div>
    <Painting></Painting>
    <PaintingEditor></PaintingEditor>
  </div>
</template>

<script>
import Painting from "./components/Main";
import PaintingEditor from "./components/Editor";

export default {
  name: 'App',
  components: {
		PaintingEditor,
		Painting,
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
