<meta charset="utf-8">
<title>painting demo</title>
<script src="https://unpkg.com/vue"></script>
<script src="./painting.js"></script>


<painting-editor></painting-editor>

<painting-main></painting-main>

