<template>
  <div class="xblock-icon">
    <img :src="`data:image/svg+xml;base64,${icon}`" :alt="alt">
  </div>
</template>

<script>
	export default {
		name: "BaseIcon",
    props: {
			icon: {
				type: String
      },
      alt: {
				type: String
      }
    }
	}
</script>

<style lang="scss">
  .xblock-icon {
    img {
      width: inherit;
      height: inherit;
    }
  }
</style>