<template>
  <li class="field comp-setting-entry">
    <div class="wrapper-comp-setting">
      <label class="label setting-label" :for="setting.id">{{setting.name}}</label>
      <input :type="setting.type" class="input setting-input" :id="setting.id" v-model="value">
    </div>
    <span class="tip setting-help">{{setting.description}}</span>
  </li>
</template>

<script>
	export default {
		name: "SettingsEntry",
    computed: {
			value: {
				get() {
					return this.setting.value;
        },
        set(value) {
					this.$emit('input', this.setting.type === 'number' ? parseInt(value) : value)
        }
      }
    },
    props: {
			setting: {
				type: Object
      }
    }
	}
</script>

<style lang="scss">
  li.comp-setting-entry {
    padding: 20px 10px;
    margin: 0 20px;
    opacity: 1;
    background-color: #fff;
    &:not(:first-child) {
      border-top: 1px solid #e5e5e5;
    }
    .wrapper-comp-setting {
      min-width: 300px;
      top: 0;
      vertical-align: top;
      margin-bottom: 5px;
      position: relative;
      .setting-label {
        transition: color 0.25s ease-in-out 0s;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        left: 0;
        width: 25%;
        min-width: 100px;
        margin-right: 10px;
      }
      .setting-input {
        color: #3391c3;
        width: 45%;
        min-width: 100px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid #b2b2b2;
        text-overflow: ellipsis;
        font-size: 16px;
        line-height: 23.68px;
      }
    }
    .setting-help {
      display: inline-block;
      min-width: 200px;
      vertical-align: top;
      font-size: 12px;
      line-height: 17.76px;
    }
  }
</style>