<template>
  <ul class="list-input settings-list">
    <SettingsEntry v-for="(setting, i) in value"
                   :key="i"
                   :setting="Object.assign({id: i}, setting)"
                   v-model="setting['value']"
                   @input="$emit('input', value)"
    ></SettingsEntry>
  </ul>
</template>

<script>
	import SettingsEntry from "./SettingsEntry";
	export default {
		name: "Settings",
		components: {SettingsEntry},
    props: {
			value: {
				type: Object
      }
    }
	}
</script>

<style lang="scss">
  .settings-list {
    height: auto;
    max-height: none;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
  }
</style>